<nav class="navbar navbar-light">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/tickets"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Tickets</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/about-us" routerLinkActive="active" >About Us</a>
        </li>
    </ul>

    <div *ngIf="isLogged" class="float-right">
        <button class="btn btn-danger" (click)="onLogout()">Logout</button>
    </div>
</nav>

