/* You can add global styles to this file, and also import other style files */
.profile_info {
    background-color: #efefef;
    border-top: 1px solid #ddd
}

.profile_info:first-child {
    border-top: 6px solid #ddd
}

.navbar a {
    color: #333
}

.navbar{
    background-color: #e3f2fd;
}

.footer {
    bottom: 0;
    width: 100%;
    background-color: #e3f2fd;
    height: 60px; /* Set the fixed height of the footer here */
}

.footer .navbar {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}